@model LekkerLokaal.Models.AdminViewModels.CadeaubonOverzichtViewModel

@{
    ViewData["Title"] = "Cadeaubon overzicht";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="wrapper">
    @if (Model.AlleCadeaubonnenGesorteerdOpId == null || !Model.AlleCadeaubonnenGesorteerdOpId.Any())
    {
        <h1 class="text-center mtb-40">Er zijn momenteel geen cadeaubonnen in het systeem!</h1>
        <a asp-controller="Admin" asp-action="CadeaubonToevoegen"><h3 class="text-center">Voeg manueel een cadeaubon toe.</h3></a>
    }
    else
    {
        <div class="text-center">
            <h1><i class="fas fa-search"></i> Zoek op naam</h1>
            <input onkeyup="zoekenInTabelFunctie()" type="text" class="ggg max-width-500px" id="zoekenInTabelTekstVeld" placeholder="Geef de naam van de cadeaubon of handelaar in">
        </div>
        <div class="table-agile-info">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Cadeaubonnen op LekkerLokaal.be
                </div>
                <div>
                    <table class="table" id="tabelOmInTeZoeken">
                        <thead>
                            <tr>
                                <th>Naam cadeaubon</th>
                                <th>Naam handelaar</th>
                                <th>Gemeente</th>
                                <th>Aantal verkocht</th>
                                <th>Detail</th>
                            </tr>
                        </thead>
                        @foreach (var bon in Model.AlleCadeaubonnenGesorteerdOpId)
                        {
                            <tbody>
                                <tr>
                                    <td>@bon.BonNaam</td>
                                    <td>@bon.Handelaarnaam</td>
                                    <td>@bon.Gemeente</td>
                                    <td>@bon.AantalBonnenInSysteem</td>
                                    <td><a asp-controller="Admin" asp-action="CadeaubonBewerken" asp-route-id="@bon.Id"><i class="fas fas fa-ellipsis-h"></i></a></td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    }
</section>