@model LekkerLokaal.Models.AdminViewModels.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="wrapper">
    <!-- //market-->
    <div class="market-updates">
        <div class="col-md-3 market-update-gd">
            <div class="market-update-block clr-block-2 Lennertpopupnomargin clickable" onclick="window.location='@Url.Action("HandelaarsVerzoeken", "Admin", null)';">
                <div class="col-md-4 market-update-right">
                    <i class="fas fa-handshake font-size-70"> </i>
                </div>
                <div class="col-md-8 market-update-left">
                    <h4>Handelaarsverzoeken</h4>
                    <h3>@Model.AantalHandelaarsVerzoeken</h3>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-3 market-update-gd">
            <div class="market-update-block clr-block-4 Lennertpopupnomargin clickable" onclick="window.location='@Url.Action("CadeaubonVerzoeken", "Admin", null)';">
                <div class="col-md-4 market-update-right">
                    <i class="fas fa-gift font-size-70"></i>
                </div>
                <div class="col-md-8 market-update-left">
                    <h4>Cadeaubonverzoeken</h4>
                    <h3>@Model.AantalCadeaubonVerzoeken</h3>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-3 market-update-gd">
            <div class="market-update-block clr-block-1 Lennertpopupnomargin clickable" onclick="window.location='@Url.Action("VerkochteCadeaubonnen", "Admin", null)';">
                <div class="col-md-4 market-update-right">
                    <i class="fas fa-cloud-download-alt font-size-70"></i>
                </div>
                <div class="col-md-8 market-update-left">
                    <h4>Verkochte bonnen</h4>
                    <h3>@Model.AantalVerkochteBonnen1M</h3>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-3 market-update-gd">
            <div class="market-update-block clr-block-3 Lennertpopupnomargin clickable" onclick="window.location='@Url.Action("GebruikteCadeaubonnen", "Admin", null)';">
                <div class="col-md-4 market-update-right">
                    <i class="fas fa-cloud-upload-alt font-size-70" aria-hidden="true"></i>
                </div>
                <div class="col-md-8 market-update-left">
                    <h4>Gebruikte bonnen</h4>
                    <h3>@Model.AantalGebruikteBonnen1M</h3>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!-- //market-->
    <div class="row">
        <div class="panel-body">
            <div class="col-md-12 w3ls-graph">
                <div class="panel-heading">
                    Verkochte bonnen vs gebruikte bonnen
                </div>
                <!--agileinfo-grap-->
                <div class="agileinfo-grap">
                    <div class="agileits-box">

                        <header class="agileits-box-header clearfix">
                            <div class="toolbar">
                            </div>
                        </header>
                        <div class="agileits-box-body clearfix">
                            <div id="hero-area"></div>
                        </div>
                    </div>
                </div>
                <!--//agileinfo-grap-->

            </div>
        </div>
    </div>
    <div class="agileits-w3layouts-stats">
        <div class="col-md-12 stats-info stats-last widget-shadow">
            <div class="panel-heading">
                Laatst verkochte bonnen
            </div>
            <div class="stats-last-agile">
                <table class="table stats-table ">
                    <thead>
                        <tr>
                            <th>DATUM</th>
                            <th>BON</th>
                            <th>BEDRAG</th>
                            <th>STATUS</th>
                            <th>DETAIL</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var bon in Model.RecentVerkochteLijst)
                        {
                            <tr>
                                <th scope="row">@bon.Datum</th>
                                <td>
                                    @bon.Naam
                                </td>
                                <td>
                                    &euro; @bon.Bedrag
                                </td>
                                <td>
                                    <span class="label @bon.StatusClass">@bon.Status</span>
                                </td>
                                <td><a asp-controller="Admin" asp-action="VerkochteCadeaubonBekijken" asp-route-id="@bon.Id"><i class="fas fas fa-ellipsis-h"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</section>

<!-- grafiek -->
<script>
    $(document).ready(function () {
        graphArea2 = Morris.Area({
            element: 'hero-area',
            padding: 10,
            behaveLikeLine: true,
            gridEnabled: false,
            axes: true,
            resize: true,
            smooth: true,
            pointSize: 0,
            lineWidth: 0,
            fillOpacity: 0.65,
            data:
            [
            @foreach (var grafiekData in Model.GrafiekDataLijst)
                {
                <Text>
                    {
                        datum: "@grafiekData.Datum",
                        verkocht: "@grafiekData.AantalVerkocht",
                        gebruikt: "@grafiekData.AantalGebruikt",
                    },
                </Text>
                }
            ],
            lineColors: ['#53d769', '#147efb'],
            xkey: 'datum',
            redraw: true,
            xLabels: "week",
            xLabelFormat: function (x) { return x.toLocaleDateString("nl-BE"); },
            ykeys: ['verkocht', 'gebruikt'],
            labels: ['Verkocht', 'Gebruikt'],
            pointSize: 2,
            hideHover: 'auto',
            resize: true
        });
    });
</script>
