@model LekkerLokaal.Models.AdminViewModels.OverzichtGebruikteBonnenViewModel
@{
    ViewData["Title"] = "Uitbetaalde cadeaubonnen";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="wrapper">
    @if (Model.GebruikteBonnenLijst == null || !Model.GebruikteBonnenLijst.Any())
    {
        <h1 class="text-center mtb-40 color-white">Er zijn momenteel geen gebruikte bonnen!</h1>
    }
    else
    {
        <div class="text-center">
            <h1><i class="fas fa-search"></i> Zoek op naam</h1>
            <input onkeyup="zoekenInTabelFunctie()" type="text" class="ggg max-width-500px" id="zoekenInTabelTekstVeld" placeholder="Geef de naam van de cadeaubon in">
        </div>
        <div class="table-agile-info">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Gebruikte Cadeaubonnen
                </div>
                <div>
                    <table class="table" id="tabelOmInTeZoeken">
                        <thead>
                            <tr>
                                <th>DATUM</th>
                                <th>BON</th>
                                <th>BEDRAG</th>
                                <th>STATUS</th>
                                <th>DETAIL</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var bon in Model.GebruikteBonnenLijst)
                            {
                                <tr>
                                    <th scope="row">@bon.Datum</th>
                                    <td>
                                        @bon.Naam
                                    </td>
                                    <td>
                                        <h5>&euro; @bon.Bedrag</h5>
                                    </td>
                                    <td>
                                        <span class="label @bon.StatusClass">@bon.Status</span>
                                    </td>
                                    <td><a asp-controller="Admin" asp-action="VerkochteCadeaubonBekijken" asp-route-id="@bon.Id"><i class="fas fas fa-ellipsis-h"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</section>