@using LekkerLokaal.Models.Domain

@model LekkerLokaal.Models.HomeViewModels.IndexViewModel

@{
    ViewData["Title"] = "Home";
    ViewData["Navbar"] = "Home";
}

<main id="mainContent" class="main-content">
    <div class="page-container ptb-10">
        <div class="container">
            <div class="section deals-header-area ptb-30">
                <div class="row row-tb-20">
                    <div class="col-xs-12 col-md-4 col-lg-3">
                        <aside>
                            <ul class="nav-coupon-category panel">
                                <li class="all-cat">
                                    <a class="font-14">Populaire Categorieën</a>
                                </li>
                                @foreach (var categorie in Model.Top9CategorieMetAantal)
                                {
                                    <li>
                                        <a asp-controller="Home" asp-action="Zoeken" asp-route-ZoekSoort="Categorie" asp-route-ZoekKey="@categorie.CategorieNaam"><i class="fa @categorie.Icon"></i>@categorie.CategorieNaam<span>@categorie.Aantal</span></a>
                                    </li>
                                }
                            </ul>
                        </aside>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-9">
                        <div class="header-deals-slider owl-slider owl-slider-index-header" data-loop="true" data-autoplay="false" data-autoplay-timeout="10000" data-smart-speed="1000" data-nav-speed="false" data-nav="true" data-xxs-items="1" data-xxs-nav="true" data-xs-items="1" data-xs-nav="true" data-sm-items="1" data-sm-nav="true" data-md-items="1" data-md-nav="true" data-lg-items="1" data-lg-nav="true">
                            @foreach (var bon in Model.Top3Bonnen)
                            {
                                <div class="deal-single panel item">
                                    <figure class="deal-thumbnail embed-responsive embed-responsive-16by9" data-bg-img="@bon.GetThumbPath.Replace("\\","\\\\")">
                                        <div class="deal-about p-20 pos-a bottom-0 left-0">
                                            <div class="rating mb-10">
                                                <span class="rating-stars" data-rating="5">
                                                    <i class="fa fa-star-o star-active"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                                <span class="rating-reviews color-light">
                                                    ( <span class="rating-count">@bon.AantalBesteld</span> keer verkocht)
                                                </span>
                                            </div>
                                            <h3 class="deal-title mb-10">
                                                <a asp-controller="Home" asp-action="Detail" asp-route-id="@bon.BonId" class="btntop3 color-light color-h-lighter">@bon.Naam</a>
                                            </h3>
                                            <h8 class="deal-title mb-10">
                                                <a asp-controller="Home" asp-action="Detail" asp-route-id="@bon.BonId" class="btntop3 color-light color-h-lighter">Bekijk details</a>
                                            </h8>
                                        </div>
                                    </figure>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="section explain-process-area ptb-30">
                <div class="row row-rl-10">
                    <div class="col-md-4">
                        <div class="item panel prl-15 ptb-20">
                            <div class="row row-rl-5 row-xs-cell">
                                <div class="col-xs-4 valign-middle">
                                    <img class="pr-10" src="/images/icons/pijlers/tablet.png" alt="">
                                </div>
                                <div class="col-xs-8">
                                    <h5 class="mb-10 pt-5">Cadeaubon op maat</h5>
                                    <p class="color-mid">Kies de ideale cadeaubon van jouw lokale handelaars.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="item panel prl-15 ptb-20">
                            <div class="row row-rl-5 row-xs-cell">
                                <div class="col-xs-4 valign-middle">
                                    <img class="pr-10" src="~/images/icons/pijlers/money.png" alt="">
                                </div>
                                <div class="col-xs-8">
                                    <h5 class="mb-10 pt-5">Beveiligde betaling</h5>
                                    <p class="color-mid">Verschillende betaalmethoden, met of zonder registratie.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="item panel prl-15 ptb-20">
                            <div class="row row-rl-5 row-xs-cell">
                                <div class="col-xs-4 valign-middle">
                                    <img class="pr-10" src="~/images/icons/pijlers/giftcard.png" alt="">
                                </div>
                                <div class="col-xs-8">
                                    <h5 class="mb-10 pt-5">Geniet lekker lokaal</h5>
                                    <p class="color-mid">Print uw gepersonaliseerde cadeaubon &amp; geniet er van!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="section latest-deals-area ptb-30">
                <header style="background-color: #1E90FF" class="panel ptb-15 prl-20 pos-r mb-30">
                    <h3 style="color: white" class="section-title font-18">
                        Meest verkochte cadeaubonnen
                        <element class="slide-navigation-lekkerlokaal"><a class="vorige-slide-index-grid"><i class="fa fa-arrow-circle-left"></i> vorige </a> | <a class="volgende-slide-index-grid">volgende <i class="fa fa-arrow-circle-right"></i></a></element>
                    </h3>
                </header>
                <div class="row row-masnory row-tb-20 lekkerLokaal-driexdrierow">
                    @foreach (var bon in Model.AlleBonnen)
                    {
                        <div class="slick-lekker-lokaal">
                            <div class="col-xs-12">
                                <div class="coupon-item">
                                    <div class="coupon-single panel t-center">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="text-center p-20">
                                                    <img class="store-logo" src="~/@bon.GetThumbPath" alt="">
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="panel-body">
                                                    <ul class="deal-meta list-inline mb-10">
                                                        <li class="color-muted"><i class="ico fab fa-periscope mr-5"></i>@bon.Gemeente</li>
                                                        <li class="color-muted"><i class="ico lnr lnr-users mr-5"></i>@bon.AantalBesteld</li>
                                                    </ul>

                                                    <div class="height-70px">
                                                        <h4 class="color-green mb-10 t-uppercase">@bon.Naam</h4>

                                                    </div>
                                                    <div class="height-70px">
                                                        <h5 class="deal-title mb-10">
                                                            <a>@bon.Beschrijving</a>
                                                        </h5>
                                                    </div>
                                                    <div class="DynamicAddCartRegionCart height-150px" style="display: none;" id="@(bon.BonId.ToString() + "card")">
                                                        <form name="WinkelmandjeAdder" onsubmit="return VoegToeAanWinkelmand(@bon.BonId);">
                                                            <div class="PopupAddToCart-line">
                                                                <div class="col-xs-4 no-padding">
                                                                    <label class="float-left ">Prijs:</label>
                                                                </div>
                                                                <div class="col-xs-offset-1 col-xs-7 no-padding">
                                                                    <input id="@(bon.BonId.ToString() + "PrijsField")" step="0.01" class="form-control" type="number" min="@(bon.MinPrijs.ToString().Replace(",","."))" max="@(bon.MaxPrijs.ToString().Replace(",","."))" value="@(bon.MinPrijs.ToString().Replace(",","."))">
                                                                </div>
                                                            </div>
                                                            <div class="PopupAddToCart-line">
                                                                <div class="col-xs-4 no-padding">
                                                                    <label class="float-left">Aantal:</label>
                                                                </div>
                                                                <div class="col-xs-offset-1 col-xs-7 no-padding">
                                                                    <input id="@(bon.BonId.ToString() + "AantalField")" class="form-control" type="number" min="1" max="100" value="1">
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4 showcode no-padding">
                                                                <a onclick="DynamicAddCartRegion(@bon.BonId);" class="btn btn-sm btn-block">Terug</a>
                                                            </div>
                                                            <div class="col-xs-offset-1 col-xs-7 showcode no-padding">
                                                                <input name="Submit" type="submit" value="Bevestig" class="btn btn-sm btn-block" />
                                                                
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="DynamicAddCartRegionDefault height-150px" id="@(bon.BonId.ToString() + "default")">
                                                        <p class="color-muted font-12"><i class="fa @bon.CategorieIcon"></i> @bon.CategorieNaam</p>
                                                        <p class="mb-15 color-muted mb-20 font-12"><i class="fa fa-credit-card-alt"></i> Vanaf &euro;@bon.MinPrijs</p>
                                                        <div class="showcode">
                                                            <a asp-controller="Home" asp-action="Detail" asp-route-id="@bon.BonId" class="btn btn-sm btn-block">Bekijk details</a>
                                                        </div>
                                                        <div style="margin-top: 10px" class="showcode">
                                                            <a onclick="DynamicAddCartRegion(@bon.BonId);" class="btn btn-sm btn-block">In winkelmandje</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </section>


            <section class="section latest-coupons-area ptb-30">
                <header style="background-color: #1E90FF" class="panel ptb-15 prl-20 pos-r mb-30">
                    <h3 style="color: white" class="section-title font-18">
                        Populair in uw regio - location not implemented yet
                        <element class="slide-navigation-lekkerlokaal"><a class="vorige-slide-regio"><i class="fa fa-arrow-circle-left"></i> vorige </a> | <a class="volgende-slide-regio">volgende <i class="fa fa-arrow-circle-right"></i></a></element>
                    </h3>
                </header>

                <div class="latest-coupons-slider owl-slider owl-slider-LekkerLokaal-Regio" data-autoplay-hover-pause="true" data-loop="true" data-autoplay="true" data-smart-speed="1000" data-autoplay-timeout="3000" data-margin="30" data-nav-speed="false" data-items="1" data-xxs-items="1" data-xs-items="2" data-sm-items="2" data-md-items="3" data-lg-items="3">

                    @foreach (var bon in Model.AlleBonnen)
                    {
                        <div class="coupon-item">
                            <div class="coupon-single panel t-center">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="text-center p-20">
                                            <img class="store-logo" src="@bon.GetThumbPath" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="panel-body">
                                            <ul class="deal-meta list-inline mb-10">
                                                <li class="color-muted"><i class="ico fab fa-periscope mr-5"></i>@bon.Gemeente</li>
                                                <li class="color-muted"><i class="ico lnr lnr-users mr-5"></i>@bon.AantalBesteld</li>
                                            </ul>

                                            <div class="height-70px">
                                                <h4 class="color-green mb-10 t-uppercase">@bon.Naam</h4>
                                            </div>
                                            <div class="height-70px">
                                                <h5 class="deal-title mb-10">
                                                    <a>@bon.Beschrijving</a>
                                                </h5>
                                            </div>
                                            <p class="mb-15 color-muted mb-20 font-12"><i class="fa fa-credit-card-alt"></i> Vanaf &euro;@bon.MinPrijs</p>
                                            <div class="showcode">
                                                <a asp-controller="Home" asp-action="Detail" asp-route-id="@bon.BonId" class="btn btn-sm btn-block" data-toggle="modal">Bekijk details</a>
                                            </div>
                                            <div style="margin-top: 10px" class="showcode">
                                                <a asp-controller="Winkelwagen" asp-action="Add" asp-route-id="@bon.BonId" class="btn btn-sm btn-block" data-toggle="modal">In winkelmandje</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </section>
            <section class="section subscribe-area ptb-40 t-center">
                <div class="newsletter-form">
                    <h4 class="mb-20"><i class="fa fa-envelope-o color-green mr-10"></i>Meld u aan voor onze nieuwsletter</h4>
                    <p class="mb-20 color-mid">Blijf op de hoogte van onze populairste cadeaubonnen</p>
                    <form method="post" action="#">
                        <div class="input-group mb-10">
                            <input type="email" class="form-control bg-white" placeholder="E-mailadres" required="required">
                            <span class="input-group-btn">
                                <button class="btn" type="submit">Meld u aan</button>
                            </span>
                        </div>
                    </form>
                    <p class="color-muted"><small>Uw e-mailadres wordt niet doorgegeven aan derde partijen.</small> </p>
                </div>
            </section>
        </div>
    </div>

    <script>
        function DynamicAddCartRegion(id) {
            $('#' + id + "default").slideToggle('slow', function () {
                $('#' + id + "default").toggleClass('selecionado', $(this).is(':visible'));
            });
            $('#' + id + "card").slideToggle('slow', function () {
                $('#' + id + "card").toggleClass('selecionado', $(this).is(':visible'));
            });
        }

        function VoegToeAanWinkelmand(id) {
            var id = id;
            var prijs = document.getElementById(id + "PrijsField").value;
            var aantal = document.getElementById(id + "AantalField").value;
            
            window.location.href = "/Winkelwagen/Add?Id=" + id + "&Prijs=" + prijs + "&Aantal=" + aantal;

            return false;
        }
    </script>

</main>
